#map-container {
  position: relative;
  width: 80vw;

  /* Set the desired width of the container */
  height: 80vh;

  /* Set the desired height of the container */
  overflow: hidden;
}

.map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.marker {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}
